@media only screen and (max-device-width: 479px) {
  .dropdown-divider {
    border-bottom: 1px solid #c7c7c7;
  }

  .dropdown-container {
    width: 100%;
    height: 100%;
    position: static;
  }

  .li-wrapper {
    border: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    position: fixed !important;
    margin-top: 0;
    padding: 0;
    height: 100%;
  }

  .li-wrapper li {
    &:first-child {
      padding-top: 24px;
    }
  }

  .divider-container {
    margin: 12px 0;
    padding: 0 24px 0 40px;
  }

  .mobile-font {
    font-size: 16px !important;
    line-height: 20px !important;
    padding: 12px 24px !important;
  }

  .mobile-close-button {
    float: right;
    margin-left: 12px;
    padding: 0;
    border: 0;
    background: transparent;
  }

  .mobile-header {
    display: block;
    padding: 24px;
    background-color: #f5f5f5;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 12px;
  }

  .transition-enter {
    transform: translate(0, 1%);
    transform: translate3d(0, 1%, 0);
  }

  .transition-enter.transition-enter-active {
    transform: translate(0, 100%);
    transform: translate3d(0, 100%, 0);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1), ease;
  }

  .transition-leave {
    transform: translate(0, 100%);
    transform: translate3d(0, 100%, 0);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1), ease;
  }

  .transition-leave.transition-leave-active {
    transform: translate(0, 1%);
    transform: translate3d(0, 1%, 0);
  }
}
