.dropdown-activator {
  cursor: pointer;
}

.dropdown-container {
  display: inline-block;
  position: relative;

  p {
    margin-bottom: 0px;
  }

  ul {
    list-style-type: none;
    border: 1px solid #c7c7c7;
    width: auto;
    min-width: 220px;
    padding: 12px 0;
    margin-top: 2px;
    margin-bottom: 0;
    border-radius: 2px;
    display: block;
    position: absolute;
    background-color: #ffffff;
    z-index: 5;
    max-height: 300px;
    overflow-y: auto;

    li {

      &:hover, &:focus {
        background-color: $pe-color-moonlight;
      }


      button {
        background-color: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        padding: 4px 24px;
        width: 100%;
        text-align: left;
        box-sizing: border-box;

        &.checkmark {
          padding: 4px 16px;
        }

        span.icon-padding {
            padding-left: 8px;
        }
      }

      a {
        color: $pe-color-charcoal;
        text-decoration: none;
        padding: 4px 24px;
        display: block;

        &.checkmark {
          padding: 4px 42px;
        }
      }
    }
  }

  .divider-container {
    cursor: default;
    &:hover {
      background-color: transparent;
    }

    .dropdown-divider {
      border-bottom: 1px solid $pe-color-alto;
      border-top: none;
      border-left: none;
      border-right: none;
      width: 80%;
      margin-top: 2px;
      margin-bottom: 1px;
    }
  }

  .dropdown-menu {
    display: none;
  }
}
