@media only screen and (max-device-width: 767px) {
  .dropdown-container {
    width: 100%;
    height: 100%;

    ul {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      max-height: unset;
      position: fixed;
      margin-top: 0px;
      top: 0px;
      left: 0px;
      padding: 0px;
      border-radius:0px;

      .mobile-title {
        background-color: $pe-color-white-gray;
        border-bottom: 1px solid $pe-color-moonlight;
        padding: 24px;
        text-align: center;
        min-height: 70px;

        h1 {
        	width: 100%;
        	padding-right: 30px;
        	max-height: 24px;
        	min-height: 24px;
        	white-space: nowrap;
        	overflow: hidden;
        	text-overflow: ellipsis;
        	margin-bottom: 0px;
        }
        button {
        	position: absolute;
        	width: 44px;
        	height: 44px;
        	right: 14px;
        	top: 14px;
        	color: $pe-color-medium-gray;
            
            svg {
              vertical-align: middle;
            }
        }
        
      }

      li {
        font-size: 16px;
        line-height: 20px;
		
		&:nth-child(2) {
			button {
				margin-top: 12px;
			}
			a {
				margin-top: 12px;
			}
		}
		&:last-of-type {
			button {
				margin-bottom: 12px;
			}
			a {
				margin-bottom: 12px;
			}
		}
		
        button[role=menuitem] {
          padding: 12px 24px;
          
          &.checkmark {
          	padding: 12px 24px;
        	}
        }

        a {
          padding: 12px 24px;
          
          &.checkmark {
          	padding: 12px 24px;
        	}
        }
      }
    }
    .divider-container {
    	padding: 12px 24px;
    }
  }
}
