@import 'variables';
@import 'mixins';


.pe-form {

  .pe-form--name {
    margin-bottom: 36px;
  }

  .pe-form--instr {
    margin-top: -12px;
    margin-bottom: 24px;
  }

  .pe-form--input {
    margin-bottom: 36px;
    &:first-child{
      margin-top: 24px;
    }
    &:last-child{
      margin-bottom: 52px;
    }
  }

  .pe-form--button-group{
    display: flex;
    flex-direction: row-reverse;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
    button{ 
      &:last-child{
        margin-right: 20px;
        @media screen and (min-width: 768px) {
          margin-right: 40px;
      }
        @media screen and (max-width: 480px) {
          margin-right: 0;
          margin-top: 16px;
      }
    }
    }
  }

  .pe-form--inline-input{
    display: flex;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
  }

  .pe-form--inline-element{
    width: 100%;
    margin-right: 20px;
    @media screen and (min-width: 768px) {       
      margin-right: 40px;    
    }
    @media screen and (max-width: 480px) {
      margin-right: 0;
      margin-bottom: 36px; 
    }
    &:last-child{
      margin-right: 0;
      margin-bottom: 0;
    }
}

hr {
  border: 0;
  border-top: 1px solid $pe-color-concrete;
  margin-top: -20px;
  margin-bottom: 36px;
}
}