@mixin pe-calendar(
  $calendar-border,
  $calendar-border-width,
  $calendar-width,
  $calendar-background-color
)
{
  border: $calendar-border;
  border-width: $calendar-border-width;
  width: $calendar-width;
  background-color: $calendar-background-color;
}
