//calendar
$pe-calendar-border: 1px solid pe-color(hairline-gray) !default;
$pe-calendar-border-width: 1px !default;
$pe-calendar-width: 328px !default;
$pe-calendar-background-color: pe-color(white) !default;
$pe-calendar-padding: 20px !default;
$pe-calendar-padding-right: 0px !default;
$pe-calendar-default-font: $pe-title-sm-font-size !default;
$pe-calendar-default-font-color: pe-color(pitch) !default;
$pe-calendar-default-line-height: 50px !default;
$pe-calendar-table-height: 100% !default;
$pe-calendar-dates-border-top: 0px !default;
$pe-calendar-dates-font-size: $pe-label-large-font-size !default;
$pe-calendar-dates-line-height: $pe-label-large-line-height !default;
$pe-calendar-dates-border-collapse: separate !default;
$pe-calendar-dates-border-spacing: 1px !default;
$pe-calendar-dates-width: 40px !default;
$pe-calendar-dates-height: 35px !default;
$pe-calendar-dates-hover-color: pe-color(white) !default;
$pe-calendar-dates-hover-background-color: pe-color(sea) !default;
$pe-calendar-dates-text-align: center !default;
$pe-calendar-dates-disabled-color: pe-color(boring) !default;
$pe-calendar-dates-disabled-background-color: pe-color(brightly-lit) !default;
$pe-calendar-dates-selected-color: pe-color(white) !default;
$pe-calendar-dates-selected-background-color: pe-color(basic-blue) !default;
$pe-calendar-dates-highlighted-color: pe-color(pitch) !default;
$pe-calendar-dates-highlighted-background-color: pe-color(sky-blue) !default;
$pe-calendar-dates-heading-padding-bottom: 12px !default;
$pe-calendar-dates-heading-padding-top: 5px !default;
$pe-calendar-dates-within-color: pe-color(pitch) !default;
$pe-calendar-dates-within-background-color: pe-color(dirty-ice) !default;
$pe-calendar-dates-outside-color: pe-color(pitch) !default;
$pe-calendar-dates-outside-background-color: pe-color(white) !default;
$pe-calendar-dates-margin-bottom: 0px !default;
$pe-calendar-div-padding-left: 20px !default;
$pe-calendar-div-padding-right: 20px !default;
$pe-calendar-table-header-font-weight: normal !default;
$pe-calendar-table-header-font-size: $pe-label-large-font-size !default;
$pe-calendar-table-header-line-height: $pe-label-large-line-height !default;
$pe-calendar-month-float: right !default;
$pe-calendar-month-line-height: $pe-title-sm-line-height !default;
$pe-calendar-days-border-bottom: none !default;
$pe-calendar-days-text-decoration: none !default;
$pe-calendar-month-font-weight: normal !default;
$pe-calendar-month-display: inline;
$pe-calendar-div-min-width: 328px;
$pe-calendar-div-max-width: 328px;
$pe-calendar-dates-max-width: 280px;
$pe-calendar-dates-min-width: 280px;
$pe-calendar-dates-max-width: 40px;
$pe-calendar-dates-min-width: 40px;
$pe-calendar-dates-max-height: 35px;
$pe-calendar-dates-min-height: 35px;
