// Tables //

$pe-table-border-color: $pe-color-alto !default; /*#d9d9d9*/
$pe-table-text-color: $pe-color-charcoal !default; /*#252525*/
$pe-table-paddings: 16px 20px !default;

$pe-table-rowhover: $pe-color-moonlight !default;/*e9e9e9*/
$pe-table-rowselect: $pe-color-digital-ice-blue !default;/*d6ebe8*/
$pe-table-rowselect-border: $pe-color-digital-marine-turquoise !default; /*19a6a4*/
$pe-table-rowhover-selected-border: $pe-color-digital-pearson-blue !default; /*047a9c*/
