@import '../../styles/elements.scss';
.pe-tabs {
  background-color: $pe-color-white-gray;
  border-bottom: solid 1px $pe-color-moonlight;

  .pe-tabs--btn {
    border: 0;
    background-color: transparent;

    @extend .pe-label;

    padding: 8px 0;
    margin: 4px 16px -1px 16px;

    &[aria-selected="true"], &[aria-selected="true"]:hover, &[aria-selected="true"]:focus {
      border-bottom: solid 3px $pe-color-digital-marine-turquoise;
    }

    &:hover, &:focus {
      border-bottom: solid 3px $pe-color-concrete;
    }
  }
}