// Colors

// Primary Palette
$pe-color-digital-pearson-blue: #047A9C;
$pe-color-ink-blue: #005A70;
$pe-color-white: #FFFFFF;
$pe-color-white-gray: #F5F5F5;

// Secondary Palette
$pe-color-sunshine-yellow: #FFB81C;
$pe-color-sunflower-yellow: #FF9A19;
$pe-color-digital-ice-blue: #DAF0ED;

// Neutral Palette
$pe-color-charcoal: #252525;
$pe-color-medium-gray: #6A7070;
$pe-color-concrete: #C7C7C7;
$pe-color-alto: #D9D9D9;
$pe-color-moonlight: #E9E9E9;

// Conditional Palette
$pe-color-strawberry-red: #DB0020;
$pe-color-digital-grass-green: #038238;
$pe-color-hot-pink: #DA0474;
$pe-color-digital-marine-turquoise: #19A6A4;
$pe-color-brackish-turquoise: #179599;
