@import 'base/mixins';
@import 'base/functions';
@import 'base/normalize';

// base variables
@import 'base/variables';

// colors
@import 'elements/color/color';

// base HTML tags
@import 'base/html-tags';

// typography
@import 'elements/typography/font-face';
@import 'elements/typography/type';


@import 'elements/icons/icons';
@import 'elements/buttons/buttons';
@import 'elements/inputs/inputs';
@import 'elements/forms/forms';
@import 'elements/grid/grid';
@import 'elements/responsive-utilities/responsive-utilities';
@import 'elements/templates/templates';
@import 'elements/presentation-strategies/presentation-strategies';
