@import 'variables';
@import 'mixins';


%btn {
  border-radius  : $pe-btn-border-radius;
  border         : none;
  display        : inline-block;
  vertical-align : middle;
  cursor         : pointer;
  font-size      : $pe-btn-small-font-size;
  height         : $pe-btn-small-height;
  line-height    : $pe-btn-small-height;
  padding        : $pe-btn-small-padding;
  font-weight    : 600;
}

%btn_large {
  height      : $pe-btn-large-height;
  font-size   : $pe-btn-large-font-size;
  line-height : $pe-btn-large-height;
  padding     : $pe-btn-large-padding;
}

%btn_xlarge {
  height      : $pe-btn-xlarge-height;
  font-size   : $pe-btn-xlarge-font-size;
  line-height : $pe-btn-xlarge-height;
  padding     : $pe-btn-xlarge-padding;
}

// For icons in buttons, remove buttony styles

.pe-icon--btn {
  padding: 0;
  background-color: transparent;
  border: 0;  
}

// for fake links

%pe-link-extend {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pe-link {
  @extend %pe-link-extend;
  color: $pe-color-digital-pearson-blue;
  padding: 0;

  &:hover,
  &:focus {
    color: $pe-color-ink-blue;
    text-decoration: none;
  }
}

.pe-link--btn {
  @extend %pe-link-extend;
  color: $pe-color-digital-pearson-blue;
  padding: 4px;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:disabled {
    color: $pe-color-medium-gray;
    text-decoration: none;
    cursor: default;
  }
}

//===========btn=================================

.pe-btn {
  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $pe-btn-default-border,
    $pe-btn-default-hover-border
  );
  @extend %btn;
}

.pe-btngroup {
  button:first-child {
    border-top-right-radius: $pe-btn-square-border-radius;
    border-bottom-right-radius: $pe-btn-square-border-radius;
  }

  button:last-child {
    border-top-left-radius: $pe-btn-square-border-radius;
    border-bottom-left-radius: $pe-btn-square-border-radius;
  }

  button:not(:first-child):not(:last-child) {
    border-radius: $pe-btn-square-border-radius;
  }
}

.pe-btn--btn_small {
  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $pe-btn-default-border,
    $pe-btn-default-hover-border
  );
  @extend %btn;
}

.pe-btn--btn_large {
  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $pe-btn-default-border,
    $pe-btn-default-hover-border
  );
  @extend %btn;
  @extend %btn_large;
}

.pe-btn--btn_xlarge {
  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $pe-btn-default-border,
    $pe-btn-default-hover-border
  );
  @extend %btn;
  @extend %btn_xlarge;
}

//===========Primary=================================

.pe-btn__primary {
  @include pe-btn(
    $pe-color-digital-pearson-blue,
    $pe-color-white,
    $pe-color-ink-blue,
    $pe-color-white,
    $border:($pe-btn-primary-border),
    $border-hover:($pe-btn-primary-hover-border)
  );
  @extend %btn;
  &:disabled,
  &.pe-btn__primary--disabled,
  &.pe-btn__primary--disabled:hover {
    cursor: default;
    border: $pe-btn-primary-disabled-bg;
    background-color: $pe-btn-primary-disabled-bg;
    color: $pe-btn-primary-disabled-text;
    box-shadow: none;
    text-decoration: none;
  }
}

.pe-btn__primary--btn_small {
  @include pe-btn(
  $pe-color-digital-pearson-blue,
  $pe-color-white,
  $pe-color-ink-blue,
  $pe-color-white,
  $border:($pe-btn-primary-border),
  $border-hover:($pe-btn-primary-hover-border)
  );
  @extend %btn;
  &:disabled,
  &.pe-btn__primary--disabled,
  &.pe-btn__primary--disabled:hover {
    cursor: default;
    border: $pe-btn-primary-disabled-bg;
    background-color: $pe-btn-primary-disabled-bg;
    color: $pe-btn-primary-disabled-text;
    box-shadow: none;
    text-decoration: none;
  }
}

.pe-btn__primary--btn_large {
  @include pe-btn(
  $pe-color-digital-pearson-blue,
  $pe-color-white,
  $pe-color-ink-blue,
  $pe-color-white,
  $border:($pe-btn-primary-border),
  $border-hover:($pe-btn-primary-hover-border)
  );
  @extend %btn;
  @extend %btn_large;
  &:disabled,
  &.pe-btn__primary--disabled,
  &.pe-btn__primary--disabled:hover {
    cursor: default;
    border: $pe-btn-primary-disabled-bg;
    background-color: $pe-btn-primary-disabled-bg;
    color: $pe-btn-primary-disabled-text;
    box-shadow: none;
    text-decoration: none;
  }
}

.pe-btn__primary--btn_xlarge {
  @include pe-btn(
  $pe-color-digital-pearson-blue,
  $pe-color-white,
  $pe-color-ink-blue,
  $pe-color-white,
  $border:($pe-btn-primary-border),
  $border-hover:($pe-btn-primary-hover-border)
  );
  @extend %btn;
  @extend %btn_xlarge;
  &:disabled,
  &.pe-btn__primary--disabled,
  &.pe-btn__primary--disabled:hover {
    cursor: default;
    border: $pe-btn-primary-disabled-bg;
    background-color: $pe-btn-primary-disabled-bg;
    color: $pe-btn-primary-disabled-text;
    box-shadow: none;
    text-decoration: none;
  }
}

//===========CTA=================================

.pe-btn__cta {
  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text,
    $border:($pe-btn-cta-border),
    $border-hover:($pe-btn-cta-hover-border)
  );
  @extend %btn;
  &:disabled,
  &.pe-btn__cta--disabled,
  &.pe-btn__cta--disabled:hover {
    cursor: default;
    border: $pe-btn-cta-disabled-bg;
    background-color: $pe-btn-cta-disabled-bg;
    color: $pe-btn-cta-disabled-text;
    box-shadow: none;
    text-decoration: none;
  }
}

.pe-btn__cta--btn_small {
  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text,
    $border:($pe-btn-cta-border),
    $border-hover:($pe-btn-cta-hover-border)
  );
  @extend %btn;
  &:disabled,
  &.pe-btn__cta--disabled,
  &.pe-btn__cta--disabled:hover {
    cursor: default;
    border: $pe-btn-cta-disabled-bg;
    background-color: $pe-btn-cta-disabled-bg;
    color: $pe-btn-cta-disabled-text;
    box-shadow: none;
    text-decoration: none;
  }
}

.pe-btn__cta--btn_large {
  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text,
    $border:($pe-btn-cta-border),
    $border-hover:($pe-btn-cta-hover-border)
  );
  @extend %btn;
  @extend %btn_large;
  &:disabled,
  &.pe-btn__cta--disabled,
  &.pe-btn__cta--disabled:hover {
    cursor: default;
    border: $pe-btn-cta-disabled-bg;
    background-color: $pe-btn-cta-disabled-bg;
    color: $pe-btn-cta-disabled-text;
    box-shadow: none;
    text-decoration: none;
  }
}

.pe-btn__cta--btn_xlarge {
  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text,
    $border:($pe-btn-cta-border),
    $border-hover:($pe-btn-cta-hover-border)
  );
  @extend %btn;
  @extend %btn_xlarge;
  &:disabled,
  &.pe-btn__cta--disabled,
  &.pe-btn__cta--disabled:hover {
    cursor: default;
    border: $pe-btn-cta-disabled-bg;
    background-color: $pe-btn-cta-disabled-bg;
    color: $pe-btn-cta-disabled-text;
    box-shadow: none;
    text-decoration: none;
  }
}
