@import 'variables';
@import 'mixins';


%btn {
  border-radius  : $pe-btn-border-radius;
  border         : none;
  display        : inline-block;
  vertical-align : middle;
  cursor         : pointer;
  font-size      : $pe-btn-small-font-size;
  height         : $pe-btn-small-height;
  line-height    : $pe-btn-small-height;
  padding        : $pe-btn-small-padding;
  font-weight    : 600;
}

%btn_large {
  height      : $pe-btn-large-height;
  font-size   : $pe-btn-large-font-size;
  line-height : $pe-btn-large-height;
  padding     : $pe-btn-large-padding;
}

%btn_xlarge {
  height      : $pe-btn-xlarge-height;
  font-size   : $pe-btn-xlarge-font-size;
  line-height : $pe-btn-xlarge-height;
  padding     : $pe-btn-xlarge-padding;
}

// For icons in buttons, remove buttony styles

.pe-icon--btn {
  padding: 0;
  background-color: transparent;
  border: 0;
}

// for fake links

%pe-link-extend {
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.pe-link {
  color: $pe-color-digital-pearson-blue;
  padding: 0;
  @extend %pe-link-extend;

  &:hover,
  &:focus {
    color: $pe-color-ink-blue;
    text-decoration: none;
  }
}

.pe-link--btn {
  color: $pe-color-digital-pearson-blue;
  padding: 4px;
  @extend %pe-link-extend;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:disabled {
    color: $pe-color-medium-gray;
    text-decoration: none;
  }
}

//===========btn=================================
.pe-btn {

  @extend %btn;
  border: $pe-btn-default-border;

  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text
  );

}

.pe-btngroup {
  button:first-child {
    border-top-right-radius: $pe-btn-square-border-radius;
    border-bottom-right-radius: $pe-btn-square-border-radius;
  }

  button:last-child {
    border-top-left-radius: $pe-btn-square-border-radius;
    border-bottom-left-radius: $pe-btn-square-border-radius;
  }

  button:not(:first-child):not(:last-child) {
    border-radius: $pe-btn-square-border-radius;
  }
}

.pe-btn--btn_small {

  @extend %btn;
  border: $pe-btn-default-border;

  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text
  );

}

.pe-btn--btn_large {

  @extend %btn;
  @extend %btn_large;
  border: $pe-btn-default-border;

  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text
  );

}

.pe-btn--btn_xlarge {

  @extend %btn;
  @extend %btn_xlarge;
  border: $pe-btn-default-border;

  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text
  );

}

//===========Primary=================================
.pe-btn__primary {

  @extend %btn;

  @include pe-btn(
    $pe-color-digital-pearson-blue,
    $pe-color-white,
    $pe-color-ink-blue,
    $pe-color-white
  );
}

.pe-btn__primary--btn_small {

  @extend %btn;

  @include pe-btn(
  $pe-color-digital-pearson-blue,
  $pe-color-white,
  $pe-color-ink-blue,
  $pe-color-white
  );
}

.pe-btn__primary--btn_large {

  @extend %btn;
  @extend %btn_large;

  @include pe-btn(
  $pe-color-digital-pearson-blue,
  $pe-color-white,
  $pe-color-ink-blue,
  $pe-color-white
  );
}

.pe-btn__primary--btn_xlarge {

  @extend %btn;
  @extend %btn_xlarge;

  @include pe-btn(
  $pe-color-digital-pearson-blue,
  $pe-color-white,
  $pe-color-ink-blue,
  $pe-color-white
  );
}


//===========CTA=================================
.pe-btn__cta {

  @extend %btn;

  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text
  );
}

.pe-btn__cta--btn_small {

  @extend %btn;

  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text
  );
}

.pe-btn__cta--btn_large {

  @extend %btn;
  @extend %btn_large;

  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text
  );
}

.pe-btn__cta--btn_xlarge {

  @extend %btn;
  @extend %btn_xlarge;

  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text
  );
}
