@import 'variables';
@import 'mixins';

%btn {
  box-sizing     : border-box;
  border         : none;
  display        : inline-block;
  vertical-align : middle;
  cursor         : pointer;

  // Large: The standard button size, prefer this button as a default size
  // unless there is a reason to go up or down.
  height         : $pe-btn-large-height;
  padding        : $pe-btn-large-padding;
  border-radius  : $pe-btn-large-border-radius;
  font-size      : $pe-font-size-large;
  line-height    : $pe-line-height-large;
  font-weight    : $pe-label-bold;
  min-width		 : $pe-btn-large-min-width;
}

%btn_small {
  height         : $pe-btn-small-height;
  border-radius  : $pe-btn-small-border-radius;
  padding        : $pe-btn-small-padding;
  font-size      : $pe-font-size-base;
  line-height    : $pe-line-height-base;
  min-width		 : $pe-btn-small-min-width;
}


%btn_xlarge {
  height         : $pe-btn-xlarge-height;
  border-radius  : $pe-btn-xlarge-border-radius;
  padding        : $pe-btn-xlarge-padding;
  font-size      : $pe-font-size-large;
  line-height    : $pe-line-height-large;
  min-width		 : $pe-btn-xlarge-min-width;
}


.pe-icon--btn {
  padding: 0;
  background-color: transparent;
  border: 0;
  position: relative;
  &:focus {
    outline: 0;
      @include focusPseudoOutline;
   }
}

// for fake links

%pe-link-extend {
  text-decoration: underline;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
}

.pe-link {
  @extend %pe-link-extend;
  color: $pe-color-digital-pearson-blue;
  padding: 0;

  &:hover {
    color: $pe-color-ink-blue;
    text-decoration: none;
  }
  &:focus {
    color: $pe-color-ink-blue;
    text-decoration: none;
    outline:0;
      @include focusPseudoOutline;
  }
}

.pe-link--btn {
  @extend %pe-link-extend;
  color: $pe-color-digital-pearson-blue;
  padding: 4px;
  position:relative;

  &:hover {
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    outline: 0;
      @include focusPseudoOutline;
  }

  &:disabled {
    color: $pe-color-medium-gray;
    text-decoration: none;
    cursor: default;
  }
}

//===========btn=================================

.pe-btn, .pe-btn--btn_large {
   @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $pe-btn-default-border,
    $pe-btn-default-hover-border
  );
  @extend %btn;
}

.pe-btngroup {
  button:first-child {
    border-top-right-radius: $pe-btn-square-border-radius;
    border-bottom-right-radius: $pe-btn-square-border-radius;
  }

  button:last-child {
    border-top-left-radius: $pe-btn-square-border-radius;
    border-bottom-left-radius: $pe-btn-square-border-radius;
  }

  button:not(:first-child):not(:last-child) {
    border-radius: $pe-btn-square-border-radius;
  }
}

.pe-btn--btn_small {
  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $pe-btn-default-border,
    $pe-btn-default-hover-border
  );
  @extend %btn;
  @extend %btn_small;
}

.pe-btn--btn_xlarge {
  @include pe-btn(
    $pe-btn-default-bg,
    $pe-btn-default-text,
    $pe-btn-default-hover-bg,
    $pe-btn-default-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $pe-btn-default-border,
    $pe-btn-default-hover-border
  );
  @extend %btn;
  @extend %btn_xlarge;
}

//===========Primary=================================
.pe-btn__primary, .pe-btn__primary--btn_large {
  @include pe-btn(
    $pe-btn-primary-bg,
    $pe-btn-primary-text,
    $pe-btn-primary-hover-bg,
    $pe-btn-primary-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $border:($pe-btn-primary-border),
    $border-hover:($pe-btn-primary-hover-border)
  );
  @extend %btn;
}

.pe-btn__primary--btn_small {
  @include pe-btn(
    $pe-btn-primary-bg,
    $pe-btn-primary-text,
    $pe-btn-primary-hover-bg,
    $pe-btn-primary-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $border:($pe-btn-primary-border),
    $border-hover:($pe-btn-primary-hover-border)
  );
  @extend %btn;
  @extend %btn_small;
}

.pe-btn__primary--btn_xlarge {
  @include pe-btn(
    $pe-btn-primary-bg,
    $pe-btn-primary-text,
    $pe-btn-primary-hover-bg,
    $pe-btn-primary-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $border:($pe-btn-primary-border),
    $border-hover:($pe-btn-primary-hover-border)
  );
  @extend %btn;
  @extend %btn_xlarge;
}

//===========CTA=================================
.pe-btn__cta, .pe-btn__cta--btn_large {
  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $border:($pe-btn-cta-border),
    $border-hover:($pe-btn-cta-hover-border)
  );
  @extend %btn;
}

.pe-btn__cta--btn_small {
  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $border:($pe-btn-cta-border),
    $border-hover:($pe-btn-cta-hover-border)
  );
  @extend %btn;
  @extend %btn_small;
}

.pe-btn__cta--btn_xlarge {
  @include pe-btn(
    $pe-btn-cta-bg,
    $pe-btn-cta-text,
    $pe-btn-cta-hover-bg,
    $pe-btn-cta-hover-text,
    $pe-btn-default-disabled-bg,
    $pe-btn-default-disabled-text,
    $border:($pe-btn-cta-border),
    $border-hover:($pe-btn-cta-hover-border)
  );
  @extend %btn;
  @extend %btn_xlarge;
}

//===========TERTIARY=================================
//Tertiary buttons are no longer supported as they too closely resemble disabled state. 
//Classes are retained for backwards compatibility but have been restyled as default buttons.

.pe-btn__tertiary, .pe-btn__tertiary--btn_large {    
    @include pe-btn(
      $pe-btn-default-bg,
      $pe-btn-default-text,
      $pe-btn-default-hover-bg,
      $pe-btn-default-hover-text,
      $pe-btn-default-disabled-bg,
      $pe-btn-default-disabled-text,
      $pe-btn-default-border,
      $pe-btn-default-hover-border
    );
	@extend %btn;
  }

  .pe-btn__tertiary--btn_small {
    @include pe-btn(
      $pe-btn-default-bg,
      $pe-btn-default-text,
      $pe-btn-default-hover-bg,
      $pe-btn-default-hover-text,
      $pe-btn-default-disabled-bg,
      $pe-btn-default-disabled-text,
      $pe-btn-default-border,
      $pe-btn-default-hover-border
    );
    @extend %btn;
    @extend %btn_small;
  }

  .pe-btn__tertiary--btn_xlarge {
    @include pe-btn(
      $pe-btn-default-bg,
      $pe-btn-default-text,
      $pe-btn-default-hover-bg,
      $pe-btn-default-hover-text,
      $pe-btn-default-disabled-bg,
      $pe-btn-default-disabled-text,
      $pe-btn-default-border,
      $pe-btn-default-hover-border
    );
    @extend %btn;
    @extend %btn_xlarge;
  }


// vertical align doesn't work in div and a, the text in those sticks to the top border.
// It stayed at center before because the line height in this file was mistakenly set as height.
// Here set the line-height in div and a as the same as the height to make text align center.
  div[class$='--btn_xlarge'], a[class$='--btn_xlarge'] {
    line-height: 40px !important;
  }

  div[class$='--btn_large'], a[class$='--btn_large'] {
    line-height: 36px !important;
  }

  div[class='pe-btn__primary'], div[class='pe-btn__cta'], div[class='pe-btn__tertiary'], div[class='pe-btn'],
  a[class='pe-btn__primary'], a[class='pe-btn__cta'], a[class='pe-btn__tertiary'], a[class='pe-btn'] {
    line-height: 36px !important;
  }

  div[class$='--btn_small'], a[class$='--btn_small'] {
    line-height: 32px !important;
  }
  
//=== if input tag has pe-btn class change focus ====
  input[class^="pe-btn"] {
  	&:focus {
  		@include focusOutline;
  	}
  }
