@mixin pe-btn(
  $bg,
  $color,
  $hover-bg,
  $hover-color,
  $disabled-bg:  null,
  $disabled-color: null,
  $border: 0,
  $border-hover: 0
) {

  color           : $color;
  background-color: $bg;
  border-radius   : $pe-btn-border-radius;
  text-decoration : none;
  text-overflow   : ellipsis;
  white-space     : nowrap;
  overflow        : hidden;
  border		  : $border;

  &:hover,
  &:active {
    color            : $hover-color;
    background-color : $hover-bg;
    border			 : $border-hover;
  }
  &:focus {
	outline: 1px solid $pe-color-hot-pink;
	outline-offset: 2px;
  }
  
  &:disabled,
  &.pe-btn--disabled,
  &.pe-btn--disabled:hover {
    cursor          : default;
    border			: $disabled-bg;
    color           : $disabled-color;
    background-color: $disabled-bg;
    box-shadow      : none;
    text-decoration : none;
  }
}