@mixin pe-btn(
  $bg,
  $color,
  $hover-bg,
  $hover-color,
  $disabled-bg:  null,
  $disabled-color: null,
  $border: 0,
  $border-hover: 0
) {

  color           : $color;
  background-color: $bg;
  border-radius   : $pe-btn-border-radius;
  text-decoration : none;
  border		  : $border;
  position: relative;

  &:hover,
  &:active {
    color            : $hover-color;
    background-color : $hover-bg;
    border			 : $border-hover;
  }
  &:focus {
    color            : $hover-color;
    background-color : $hover-bg;
    border			 : $border-hover;
    outline          : 0;
      &:after {
        content: "";
        border: 2px solid $pe-focus-color;
        position: absolute;
        border-radius: 2*$pe-btn-border-radius;
        width: calc(100% + 8px); //4px offset
        height: calc(100% + 8px);
        top: -6px; //offset plus border width
	    left: -6px;
        z-index: 1;
  	}
   }
  
  &:disabled,
  &.pe-btn--disabled,
  &.pe-btn--disabled:hover {
    cursor          : default;
    border			: $disabled-bg;
    color           : $disabled-color;
    background-color: $disabled-bg;
    box-shadow      : none;
    text-decoration : none;
  }
  //====== overflow moved to a span inside btn to accomodate focus outline ======
  span {
  	display         : block;
  	max-width       : 100%;
  	text-overflow   : ellipsis;
    white-space     : nowrap;
    overflow        : hidden;
  }
}