// Buttons //

$pe-btn-small-height      : 32px !default;
$pe-btn-small-font-size   : 14px !default;
$pe-btn-small-padding     : 0 30px !default;
$pe-btn-small-line-height : 0 !default;

$pe-btn-border-radius : 22px !default;
$pe-btn-square-border-radius: 0px !important;

$pe-btn-large-height        : 40px !default;
$pe-btn-large-font-size     : 16px !default;
$pe-btn-large-line-height   : 0 !default;
$pe-btn-large-padding       : 0 30px !default;

$pe-btn-xlarge-height      : 44px !default;
$pe-btn-xlarge-font-size   : 18px !default;
$pe-btn-xlarge-line-height : 22px !default;
$pe-btn-xlarge-padding     : 0 20px !default;

$pe-btn-primary-bg            : $pe-color-digital-pearson-blue !default;
$pe-btn-primary-text          : $pe-color-white !default;
$pe-btn-primary-hover-bg      : $pe-color-ink-blue !default;
$pe-btn-primary-hover-text    : $pe-color-white !default;
$pe-btn-primary-disabled-bg   : $pe-color-moonlight !default;
$pe-btn-primary-disabled-text : $pe-color-concrete !default;

$pe-btn-default-bg            : $pe-color-white !default;
$pe-btn-default-text          : $pe-color-medium-gray !default;
$pe-btn-default-border        : 1px solid $pe-color-concrete !default;
$pe-btn-default-hover-bg      : $pe-color-white !default;
$pe-btn-default-hover-text    : $pe-color-charcoal !default;
$pe-btn-default-hover-border  : 1px solid $pe-color-charcoal !default;
$pe-btn-default-disabled-bg   : $pe-color-moonlight !default;
$pe-btn-default-disabled-text : $pe-color-concrete !default;
.pe-btn:hover {
	border: $pe-btn-default-hover-border;
}

$pe-btn-cta-bg          : $pe-color-sunshine-yellow !default;
$pe-btn-cta-text        : $pe-color-charcoal !default;
$pe-btn-cta-hover-bg    : #FF9A19 !default;
$pe-btn-cta-hover-text  : $pe-color-charcoal !default;

$pe-btn-tertiary-bg            : $pe-color-white-gray !default;
$pe-btn-tertiary-text          : $pe-color-medium-gray !default;
$pe-btn-tertiary-hover-bg      : $pe-color-moonlight !default;
$pe-btn-tertiary-hover-text    : $pe-color-charcoal !default;
