// Buttons //

$pe-btn-small-height        : 32px !default;
$pe-btn-small-border-radius : 32px !default;
$pe-btn-small-padding       : 0 12px !default;

$pe-btn-large-height        : 36px !default;
$pe-btn-large-border-radius : 36px !default;
$pe-btn-large-padding       : 0 20px !default;

$pe-btn-xlarge-height        : 40px !default;
$pe-btn-xlarge-border-radius : 40px !default;
$pe-btn-xlarge-padding       : 0 20px !default;

$pe-btn-default-bg            : transparent !default;
$pe-btn-default-text          : $pe-color-medium-gray !default;
$pe-btn-default-border        : 1px solid $pe-color-medium-gray !default;
$pe-btn-default-hover-bg      : transparent !default;
$pe-btn-default-hover-text    : $pe-color-charcoal !default;
$pe-btn-default-hover-border  : 1px solid $pe-color-charcoal !default;
$pe-btn-default-disabled-bg   : $pe-color-moonlight !default;
$pe-btn-default-disabled-text : $pe-color-medium-gray !default;
$pe-btn-default-disabled-border   : 1px solid $pe-color-moonlight !default;


$pe-btn-primary-bg            : $pe-color-digital-pearson-blue !default;
$pe-btn-primary-border		  : 1px solid $pe-color-digital-pearson-blue !default;
$pe-btn-primary-text          : $pe-color-white !default;
$pe-btn-primary-border		  : 1px solid $pe-color-digital-pearson-blue !default;
$pe-btn-primary-hover-bg      : $pe-color-ink-blue !default;
$pe-btn-primary-hover-border  : 1px solid $pe-color-ink-blue;
$pe-btn-primary-hover-text    : $pe-color-white !default;

$pe-btn-tertiary-bg            : $pe-color-moonlight !default;
$pe-btn-tertiary-border        : 1px solid $pe-color-moonlight !default;
$pe-btn-tertiary-text          : $pe-color-graphite !default;
$pe-btn-tertiary-hover-bg      : #ededed !default;
$pe-btn-tertiary-hover-border  : 1px solid #ededed !default;
$pe-btn-tertiary-hover-text    : $pe-color-graphite !default;

$pe-btn-cta-bg          : $pe-color-sunshine-yellow !default;
$pe-btn-cta-border      : 1px solid $pe-color-sunshine-yellow !default;
$pe-btn-cta-text        : $pe-color-charcoal !default;
$pe-btn-cta-hover-bg    : $pe-color-sunflower-yellow !default;
$pe-btn-cta-hover-border: 1px solid $pe-color-sunflower-yellow !default;
$pe-btn-cta-hover-text  : $pe-color-charcoal !default;


// unused border radius in v3.0.0
$pe-btn-border-radius : 22px !default;

$pe-btn-square-border-radius: 0px !important;
