
@mixin textInputBasic() {


  .pe-textInput--basic {
    @extend %abstract;
    border     : $textInput-basic-border;
    margin-top : $textInput-basic-marginTop;

    @include pe-placeholder {
      font-size : $textInput-placeholder-font-size;
      color     : $textInput-placeholder-color;
    }

    &:focus {
      border     : $textInput-basic-focus-border;
      @include focusOutline;
    }
  }

};


@mixin textInputBasicError() {

  .pe-textInput--basic_error {
    @extend %abstract;
    border     : $textInput-basic-error-border;
    margin-top : $textInput-basic-marginTop;

    @include pe-placeholder {
      font-size : $textInput-placeholder-font-size;
      color     : $textInput-placeholder-color;
    }

    &:focus {
    	@include focusOutline;
    }
  }


};


@mixin textInputBasicDisabled() {
  .pe-textInput--basic:disabled {
    background-color : $pe-color-moonlight;
    margin-top       : $textInput-basic-marginTop;
  }

};

@mixin textInputBasicReadonly() {

  .pe-textInput--basic_readonly {
    @extend %abstract;
    border     : $textInput-readonly-border;
    margin-top : $textInput-basic-marginTop;

    @include pe-placeholder {
      font-size : $textInput-placeholder-font-size;
      color     : $textInput-placeholder-color;
    }

    &:focus {
      @include focusOutline;
    }
  }
};