@mixin checkbox() {

  .pe-checkbox {
    position      : relative;
    min-height    : 16px;
    margin-bottom : 14px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  input[type="checkbox"] {
    opacity  : 0;
    position : absolute;
    ~ span {
      left          : 0;
      top           : 0;
      position      : absolute;
      z-index       : 0;
      height        : $checkbox-box-height;
      width         : $checkbox-box-width;
      border        : $checkbox-box-border;
      border-radius : $checkbox-box-borderRadius;
    }
    ~ span svg {
      opacity : 0;
      height  : $checkbox-box-height;
      width   : $checkbox-box-width;
    }
    &:checked ~ span svg {
      opacity : 1;
    }
    &:focus ~ span {
      border        : $checkbox-box-border-focus;
      border-radius : $checkbox-box-borderRadius;
      @include focusOutline;
    }
    &:disabled ~ span {
      background-color : $checkbox-box-disabled-color;
    }
    &:disabled ~ span svg{
      fill : $checkbox-checkmark-color-disabled;
    }

  }
  input[type="checkbox"] ~ label {
    min-height: 18px;
    display: inline-block;
    padding-left: $checkbox-box-width + $checkbox-box-rightMargin;
    line-height: 18px;
    position: relative;
    z-index: 2;
  }


  .pe-checkbox.circle-checks {
    &.top-level {
      input[type="checkbox"] {
        z-index: 1;
        height: 24px;
        width: 24px;
        margin: 0;
  
        ~ span {
          height: 24px;
          width: 24px;
          padding: 2px;
          border-width: 2px;
          //background: white;
          margin: 0;
  
          //to center  icon
          border-radius: 50%;
  
          .indeterminate-icon {
            display: none;
          }
  
          svg {
            width: 16px;
            height: 16px;
          }
        }
  
        &:checked {
          ~ span {
            background: $pe-color-digital-pearson-blue;
            border: 4px solid $pe-color-digital-pearson-blue;
  
            span.checked {
              display: block;
              position: absolute;
              top: -2px;
              left: -2px;
              z-index: 1;
              color: white;
              border: 2px solid white;
              border-radius: 50%;
            }
  
            .pe-icon--check-sm-18 {
              display: block;
            }
  
            .indeterminate-icon {
              display: none;
            }
          }
  
          &:disabled {
            .indeterminate-icon {
              display: none;
            }
          }
        }
  
        &:indeterminate {
          ~ span {
            background: $pe-color-digital-pearson-blue;
            border: 4px solid $pe-color-digital-pearson-blue;
  
            .indeterminate-icon {
              display: block;
              position: absolute;
              top: -2px;
              left: -2px;
              z-index: 1;
              color: white;
              border: 2px solid white;
              border-radius: 50%;
  
              svg {
                opacity: 1;
                fill: currentColor;
              }
            }
          }
        }
      }
    }
  
    &.second-level {
      input[type="checkbox"] {
        z-index: 1;
        height: 100%;
        width: 24px;
        margin: 0;
  
        ~ span {
          top: calc(50% - 9px);
          height: 18px;
          width: 18px;
  
          //background: white; //what to do on hover
          //padding:3px;
          border-radius: 50%;
          margin: 0;
  
          .indeterminate-icon {
            display: none;
          }
        }
  
        &:checked {}
  
        &:indeterminate {
          ~ span {
            background: $pe-color-digital-pearson-blue;
            border: 4px solid $pe-color-digital-pearson-blue;
  
            .indeterminate-icon {
              display: block;
              position: absolute;
              top: -2px;
              left: -2px;
              z-index: 1;
              color: white;
              border: 2px solid white;
              border-radius: 50%;
  
              svg {
                opacity: 1;
                fill: currentColor;
              }
            }
          }
        }
      }
    }
  }
};
