

@mixin multiLineText() {

  %multiLineText {
    border        : $multiLineText-border;
    border-radius : $multiLineText-borderRadius;
    font-size     : $textInput-value-font-size;
    color         : $pe-color-charcoal;
    margin-top    : $textInput-basic-marginTop;
    line-height   : $textInput-line-height;
    padding       : $multiLineText-padding;
    resize        : none;
    width         : $multiLineText-width;
    box-sizing    : $multiLineText-box-sizing;

    @include pe-placeholder {
      font-size   : $textInput-placeholder-font-size;
      color       : $textInput-placeholder-color;
      line-height : $textInput-line-height;
    }


  }

  .pe-multiLineText {
    @extend %multiLineText;
    background-color : $pe-color-white;
    &:focus {
      @include focusOutline;
      border     : $textInput-basic-focus-border;
      resize     : both;
      overflow   : auto;
    }
  }

  .pe-multiLineText--error {
    @extend .pe-multiLineText;
    background-color : $pe-color-white;
    border           : $textInput-basic-error-border;
    &:focus {
      @include focusOutline;
      resize     : both;
      overflow   : auto;
      border     : $textInput-basic-error-border;
    }
  }

  .pe-multiLineText--disabled {
    @extend %multiLineText;
    outline          : none;
    color            : $textInput-basic-disable-background-color;
    background-color : $textInput-basic-disable-background-color;
  }

  .pe-multiLineText--readOnly {
    @extend %multiLineText;
    background-color : $pe-color-white;
    border : none;
    margin-top: 0;
    &:focus {
      @include focusOutline;
    }
  }

};
