// Icons
//

// Stop the sprite from taking up room on the page

#pe-icons-sprite {
  display: none;
}

svg[class^='pe-icon--'] {
  display: inline-block;
  vertical-align: top;
  fill: currentColor;
}

[class^='pe-btn'] svg[class$='-18'], [class^='pe-btn'] svg[class$='-24'] {
  vertical-align: middle;
  margin-left  : 4px;
  //margin-bottom: .3em;
}
svg[class$='-16'] {
  width: 16px;
  height: 16px;
}
svg[class$='-18'] {
  width: 18px;
  height: 18px;
}
svg[class$='-24'] {
  width: 24px;
  height: 24px;
}

// special cases per Van

svg[class$="font-setting-18"] {
  width: 24px;
  height: 18px;
}

svg[class$="font-setting-24"] {
  width: 32px;
  height: 24px;
}

svg[class$="new-notification-9"] {
  vertical-align: middle;
  width: 10px;
  height: 10px;
}
