
%clearfix {
  content:"";
  display:table;
  clear: both;
}

body {
  background-color: #fafafa;
}

//========Global Styles=======================
.displaySection{
  @extend %clearfix;
  overflow: auto;
  padding: 5px;
  margin: 10px 10px 20px;
  width:96%;
}

.elementContainer {
  @extend %clearfix;
  background-color: white;
  padding: 10px;
}

h2 {
  margin-bottom:20px;
}

h2 a {
  color: #000;
}

.code {
  background-color: #f5f5f5;
  border: 1px solid #808080;
  font-size: .9em;
  padding: 5px;
  margin-top: 5px;
  list-style: none;
}

.li-props {
  list-style: none;
  margin-bottom: 8px;
}

.homepageList li {
  list-style-type: none;
}

//---------HomePage-------------------------------
.homepage-link {
  text-decoration: none !important;
  font-size: 15px;
}

.homepage {
  margin: 12px 22px;
}

.homepage p {
  font-size: 16px;
}

.ul-wrapper {
  display: inline-table;
  margin: 0 10px;
}

//---------Header---------------------------------
.header{
  @extend %clearfix;
  width:100%;
  background-color: #FFFFFF;
  height:60px;
  border-bottom: 1px solid #e9e9e9;
}

.headerTitle {
  float:left;
  margin:10px;
  color:#252525;
  font-weight: 600;
}

.multi-dd-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.dropdown-wrapper {
  margin: 12px;
}

.warning {
  padding: 5px;
  background-color: pink;
  border: 1px solid #db0020;
}

.warning h2 {
  margin-bottom: 0;
  color: #db0020;
  line-height: 24px;
}

.inline-pic {
  height: 50%;
  width: 50%;
}

// StylesIconsPage

.d-icon-list li {
  padding-bottom: 8px;
}

// ColorsPage

.color-page-div {
  display: inline-block;
  vertical-align: top;
  width: 12em;
}

.color-page-div>p {
  text-align: center;
}

.color-page-white-text,
.color-page-dark-text {
  text-align: center;
  padding: 16px 0;
  color: #ffffff;
  margin: 0;
}

.color-page-dark-text {
  color: #000000;
}

.tab-reposition-demo {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
