@import './variables';
@import './mixins';


@include default-strategy();
@include centered-strategy();
@include left_right-strategy();
@include basic_grid-strategy();
@include presentation-spacing();
