// commonly used mixins

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
};

// font-size mixin returns font-size, line-height and margin-bottom if included
@mixin font-size($font-size:$pe-font-size-base, $line-height:$pe-line-height-base, $margin-bottom:false){
	font-size: pxToRem($font-size);
	line-height: pxToRem($line-height);
	@if $margin-bottom != false {
		margin-bottom: pxToRem($margin-bottom);
	}
}

// focus styles

@mixin focusOutline {
	box-shadow:none;
	outline: 2px solid $pe-focus-color;
	outline-offset: 4px;
}
@mixin focusPseudoOutline($radius: 4px, $widthOffset: 10px, $heightOffset: 10px, $top: -6px, $left: -6px) {
        &:after {
          border: 2px solid $pe-focus-color;
          content: "";
          position: absolute;
          border-radius: $radius;
          width: calc(100% + #{$widthOffset});
          height: calc(100% + #{$heightOffset});
          top: $top;
          left: $left;
          z-index: 1;
        }
}