// commonly used mixins

@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
};

// font-size mixin returns font-size, line-height and margin-bottom if included
@mixin font-size($font-size:$pe-font-size-base, $line-height:$pe-line-height-base, $margin-bottom:false){
	font-size: pxToRem($font-size);
	line-height: pxToRem($line-height);
	@if $margin-bottom != false {
		margin-bottom: pxToRem($margin-bottom);
	}
}

// focus styles

@mixin focusOutline {
	box-shadow:none;
	outline: $pe-focus-strokeWidth solid $pe-focus-color;
	outline-offset: 2*$pe-focus-strokeWidth;
}
@mixin focusPseudoOutline {
	box-shadow: none;
    outline: none;

        &:after {
          border: $pe-focus-strokeWidth solid $pe-focus-color;
          content: "";
          position: absolute;
          border-radius: $pe-focus-cornerRadius;
          width: calc(100% + 2*$pe-focus-cornerRadius);
          height: calc(100% + 2*$pe-focus-cornerRadius);
          top: -$pe-focus-cornerRadius;
          left: -$pe-focus-cornerRadius;
          z-index: -100;
        }
}
